{% extends parentTemplate %}

{% block head %}

<style>
i.dbedit {
	font-size: 18px;
}
</style>

<script>
  function setGetParam(paramMap, hashOrFragment) {

    var params = new URLSearchParams(window.location.search);
    for (key in paramMap) {
      params.set(key, paramMap[key]);
    }

    var fragmentStr = "";
    if (hashOrFragment) {
      fragmentStr = "#" + hashOrFragment;
    } else if (window.location.hash) {
      fragmentStr = window.location.hash;
    }
    var newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?' + params.toString() + fragmentStr;

    window.location.href = newUrl;

  }

  function getAllSearchInput() {
    return $('#frmSearch').find("input[type=text], textarea, select");
  }

  function goSearch() {
    var paramMap = {};
    getAllSearchInput().each(function() {
      var jObj = $(this);
      paramMap[jObj.attr('name')] = jObj.val();
    });

    // reset page number to 1
    paramMap['{{tableId}}_p'] = '1';

    setGetParam(paramMap, 'SEARCH_LOC');
  }


  function goSortColumn(col, sortVal, tableId) {
    var sortMap = {};
    sortMap[col] = sortVal;
    setGetParam({'sort': JSON.stringify(sortMap)}, 'TABLE_LOC');
  }

  function goClearSearch() {
    getAllSearchInput().each(function() {
      $(this).val('');
    });
    
    goSearch();
  }

  function goSort() {
    setGetParam({'sort': document.getElementById('SORT').value});
  }
</script>
{% endblock %}

{% block content %}
{{super()}}

{%if showAddButton == 'Y'%}
<p>
  <a class="btn btn-primary" href="{{saveUrl}}?model={{queryModelName}}&_backUrl={{redirectAfter}}&{{saveParams}}"><i class="fa fa-plus fa-fw"></i> Add {{modelDisplayName}}</a>
</p>
{%endif%}

<a name="SEARCH_LOC"></a>
{%if searchable.length > 0%}
<form id="frmSearch" name="frmSearch" style="{{searchableStyle}}">
  
    <div class="form-row">

          
        {%for searchObj in searchable%}
        <div class="form-group col-md-6">
              <label for="f_{{searchObj.id}}">{{searchObj.label}}</label>
          {%if searchObj.inputType == "select"%}
            <select class="form-control" name="f_{{searchObj.id}}" id="f_{{searchObj.id}}">
              {%for opt in searchObj.inputValues%}
              <option value="{{opt.key}}"{%if (searchObj.val.equals and searchObj.val.equals(opt.key) or (searchObj.val == opt.key))%} selected{%endif%}>{{opt.val}}</option>
              {%endfor%}
            </select>
          {%else%}
              <input type="text" name="f_{{searchObj.id}}" id="f_{{searchObj.id}}" class="form-control" placeholder="{{searchObj.placeholder}}" value="{{searchObj.val}}" />
          {%endif%}
          </div>
        {%endfor%}
          

      
      </div>

      <div class="row">
        <div class="col-md">
          <button class="btn btn-primary" type="button" onclick="goSearch(); return false;"><i class="fa fa-search"></i> </span> Search</button>

        <button class="btn btn-secondary" type="button" onclick="goClearSearch(); return false;" style="float: right;">Clear</button>
        </div>
      </div>


</form>

<br/>

{%endif%}

<a name="TABLE_LOC"></a>
<div style="margin-bottom: 12px;">Total: {{count.toLocaleString()}}</div>

{{table | safe}}

{% endblock %}